<h2 class="current-category"><%= params[:category] %></h2>
<% if @posts.count == 0 %>
    <h3>There are no restaurants in this category</h3>
<% else %>
    <% @posts.each do |p| %>
        <div class = "post_wrapper">
            <h2 class = "title">
                <%= link_to p.title, p %>
            </h2>
            <p class = "date">
                <%= p.created_at.strftime("%B %d, %Y") %>
            </p>
        </div>
<% end %>
<% end %>